.error{
    font: bold italic 16px/20px Arial;
    color: red;
}

.input{
    border: 3px solid teal;
    border-radius: 10px;
    width: 200px;
    height: 20px;
    font-size: 16px;
}

.label{
    font: bold  18px/20px Times;
    margin: 10px;
}

.form{
    margin: 10px;
}